@media screen and (min-width: 800px), screen and (min-height: 800px) {
	body, html {
		font-family: "lato", sans-serif !important;
		min-width: 500px;
		min-height: 500px;
	}

	#intro-name {
	  	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.1)), url("../resources/img/opener-img.jpg");
	  	background-size: cover;
	}

	.intro-line-1 {
		font-size: 32px;
		font-style: italic;
		font-weight: 400;
		color: white;
		text-align: left;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		text-size-adjust: 100%;
		text-transform: none !important;
		overflow-wrap: break-word;
		margin-bottom: 8px;
	    padding-left: 310px;
	}

	.intro-line-2 {
		font-size: 64px;
		font-weight: 700;
		color: white;
		text-align: left;
		text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
		text-size-adjust: 100%;
		text-transform: none !important;
		overflow-wrap: break-word;
		margin-top: 16px;
	}

	.intro-line-2::before, .intro-line-2::after {
		content: "\00a0\00a0\23AF\23AF\23AF\23AF\00a0\00a0";
		font-style: normal;
		font-weight: 100;
		text-shadow: none;
	}

	#about-me {
		background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.1)), url("../resources/img/about-me-background.png");
		/*background-image: linear-gradient(rgba(189, 195, 199, 0.6), rgba(0,0,0,0.1)), url("../resources/img/about-me-background.png");*/
		background-size: cover;
	}

	#work {
	  	background-image: url("../resources/img/work-bg-1.jpg");
	  	background-size: cover;
	}

	.fp-controlArrow.fp-next {
	    border-width: 24px 0 24px 32px !important;
	}

	.fp-controlArrow.fp-prev {
	    border-width: 24px 32px 24px 0 !important;
	}

	#blog {
	  	background-image: url("../resources/img/page-under-construction-funny-cartoon-workers.png");
	  	background-size: cover;
	}

	#hire-me {
	  	background-image: url("../resources/img/page-under-construction-funny-cartoon-workers.png");
	  	background-size: cover;
	}

	#navbar {
		position: fixed;
		top: 0px;
		left: 0px;
		height: 52px;
		z-index: 70;
		width: 100%;
		padding: 0px;
		margin: 0px;
	}

	.navbar-option {
		float: left;
		margin-left: 32px;
    	margin-top: 16px;
	}

	.navbar-option div {
		padding: 8px;
	}

	.navbar-option a {
		text-decoration: none;
		color: #f1faee;
		font-size: 24px;
	}

	.navbar-option a:hover, .navbar-option a:active, .navbar-option a:visited, .navbar-option a:focus {
		text-decoration: none;
		color: #f1faee;
	}

	.selected-navbar-option {
		border: solid 2px #333533;
		background-color: #242423;
		border-radius: 16px;
	}

	.page-title {
		font-size: 64px;
		font-weight: 700;
		color: #34495e;
		text-align: center;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
		text-size-adjust: 100%;
		text-transform: none !important;
		overflow-wrap: break-word;
		margin-top: 16px;
		padding-top: 32px;
	}

	.page-title::before, .page-title::after {
		content: "\00a0\00a0\23AF\23AF\23AF\23AF\00a0\00a0";
		font-style: normal;
		font-weight: 100;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	}

	.about-me-content {
		font-size: 28px;
	}

	.about-me-pointers {
		text-align: center;
		list-style: none;
	}

	.focus-text {
		color: #c0392b;
	    font-size: 48px;
	}

	.img-open-quote {
		height: 100px;
	    width: 100px;
	}

	.img-open-quote-container {
		margin-left: 25%;
		text-align: left;
	}

	.img-close-quote {
		height: 100px;
	    width: 100px;
	}

	.img-close-quote-container {
		float: right;
		margin-right: 25%;
	}

	.slide {
		text-align: center;
		font-size: 64px;
	}
}