@media only screen and (max-width: 799px) {
	body, html {
		height: 100%;
		margin: 0;
		font-family: "lato", sans-serif !important;
		min-width: 500px;
	}

	#intro-name {
	  	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.1)), url("../resources/img/opener-img.jpg");
	  	background-size: cover;
	}

	.intro-line-1 {
		font-size: 32px;
		font-style: italic;
		font-weight: 400;
		color: white;
		text-align: center;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		text-size-adjust: 100%;
		text-transform: none !important;
		overflow-wrap: break-word;
		margin-bottom: 8px;
	}

	.intro-line-2 {
		font-size: 64px;
		font-weight: 700;
		color: white;
		text-align: center;
		text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
		text-size-adjust: 100%;
		text-transform: none !important;
		overflow-wrap: break-word;
		margin-top: 16px;
	}

	#about-me {
		background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.1)), url("../resources/img/about-me-background.png");
		/*background-image: linear-gradient(rgba(189, 195, 199, 0.6), rgba(0,0,0,0.1)), url("../resources/img/about-me-background.png");*/
		background-size: contain;
	}

	#work-life {
	  	background-image: url("../resources/img/page-under-construction-funny-cartoon-workers-mobile.png");
	  	background-size: contain;
	}

	#personal-space {
	  	background-image: url("../resources/img/page-under-construction-funny-cartoon-workers-mobile.png");
	  	background-size: contain;
	}

	#hire-me {
	  	background-image: url("../resources/img/page-under-construction-funny-cartoon-workers-mobile.png");
	  	background-size: contain;
	}

	#navbar {
		position: fixed;
		top: 0px;
		left: 0px;
		height: 52px;
		z-index: 70;
		width: 100%;
		padding: 0px;
		margin: 0px;
	}

	.navbar-option {
		float: left;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-right: 16px;
		padding-left: 32px;
		font-size: 16px;
	}

	.navbar-option a {
		text-decoration: none;
		color: #f1faee;
		font-size: 16px;
	}

	.navbar-option a:hover {
		text-decoration: none;
		color: #A8DADC;
	}

	.page-title {
		font-size: 48px;
		font-weight: 700;
		color: #34495e;
		text-align: center;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
		text-size-adjust: 100%;
		text-transform: none !important;
		overflow-wrap: break-word;
	}

	.about-me-content {
		font-size: 24px;
	}

	.about-me-pointers {
		text-align: center;
		list-style: none;
	}

	.focus-text {
		color: #c0392b;
	    font-size: 40px;
	}

	.img-open-quote, .img-close-quote {
		height: 75px;
	    width: 75px;
	}

	.img-open-quote-container {
		margin-left: 5%;
		text-align: left;
	}

	.img-close-quote-container {
		float: right;
		margin-right: 5%;
	}
}